@using EBanking.Data

@{
    ViewBag.Title = "Created Successfully";
}

<h2>Bank Account created Successfully</h2>
<p>Bank Account has created successfully! Click <a href="@Url.Action("Index", "BankAccount")">here</a> to see all your accounts.</p>


