
@{
    ViewBag.Title = "DepositSuccessfully";
}

@{
    @ViewBag.Message
}

<h2>DepositSuccessfully</h2>
<p>Depositing successfully! Click <a href="@Url.Action("Index", "BankAccount")">here</a> to see all your accounts.</p>
