
@{
    ViewBag.Title = "Options";
}

<h2>Опции</h2>
<ul>
    <li><a href="@Url.Action("Deposit", "BankAccount")">Депозит към сметка </a> </li>
    <li><a href="@Url.Action("Transfer", "BankAccount")">Превод към друга сметка </a> </li>
    <li><a href="@Url.Action("WithDrawAl", "BankAccount")">Теглене от сметка </a></li>

</ul>
