
@{
    ViewBag.Title = "WithDrawAlSuccessfully";
}

<h2>WithDrawalSuccessfully</h2>
<p>  WithDrawal Successfully! Click <a href="@Url.Action("Index", "BankAccount")">here</a> to see all your accounts.</p>

