@using EBanking.Data

@{
    ViewBag.Title = "LoggedIn";
}

@if (Request.IsAuthenticated)
{ 
    <h4>Hello @User.Identity.Name</h4>
}
<div align="right">
    <a href="@Url.Action("Logout", "Account")">Излизане </a>
</div>

<a href="@Url.Action("Index", "BankAccount")">Преглед на сметки</a>

    <a href="@Url.Action("CreateBankAccount","BankAccount")">Създаване на банкова сметка</a>

   
