@using EBanking.Data
@{
    ViewBag.Title = "RegisterSuccessfully";
}

<h2>Регистрацията ви е успешна!</h2>
<p>Вашата регистрация е успешна! Натиснете  <a href="@Url.Action("Login","Account")">тук </a> за да влезете във вашия профил </p>

